#
# {{ ansible_managed }}
#

{% if item.include_files is defined %}
$Conf{BackupFilesOnly} = {
{% for key, value in item.include_files.iteritems() %}
	'{{ key }}' => [
{% for file in value %}
		'{{ file }}'{% if not loop.last %},{% endif %}

{% endfor %}
	]{% if not loop.last %},
{% endif %}
{% endfor %}

};
{% endif %}

{% if item.exclude_files is defined %}
$Conf{BackupFilesExclude} = {
{% for key, value in item.exclude_files.iteritems() %}
	'{{ key }}' => [
{% for file in value %}
		'{{ file }}'{% if not loop.last %},{% endif %}

{% endfor %}
	]{% if not loop.last %},
{% endif %}
{% endfor %}

};
{% endif %}

$Conf{XferMethod} = '{{ item.xfermethod | default("rsync") }}';

$Conf{ClientCharsetLegacy} = '{{ item.charset | default("utf-8") }}';

{% if item.rsync_share_name is defined %}
$Conf{RsyncShareName} = [
{% for item in item.rsync_share_name %}
	'{{ item }}'{% if not loop.last %},{% endif %}

{% endfor %}
	];
{% endif %}


{% if item.others is defined %}
{% for key, value in item.others.iteritems() %}
{% if value is string %}
$Conf{{ '{' }}{{ key }}{{ '}' }} = '{{ value }}';
{% else %}
$Conf{{ '{' }}{{ key }}{{ '}' }} = [
  {% for i in value %}'{{ i }}'{% if not loop.last %}, {% endif %}
{% endfor %}

];

{% endif %}
{% endfor %}
{% endif %}
